*.o
*.so.*
*.in
*.la
*.lo
*.bak
.version
Makefile
configure
autom4te*
*~
*.Po
.libs*
*.Plo
*.project
*.cproject
*.swp
config.*
aclocal.m4
COPYING
INSTALL
depcomp
m4/*
missing
stamp-h1
install-sh
libtool
ltmain.sh

examples/smbrr-atrous
examples/smbrr-structures
examples/smbrr-objects
examples/output/*.bmp
examples/debug/*.bmp

doc/man*
doc/html*
